:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  width: 100vw;
  height: 100vh;
}

.music-icon {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 16px;
  height: 16px;
}

.music-icon span {
  width: 3px;
  height: 100%;
  background-color: #fff;
  border-radius: 3px;
  transform-origin: bottom;
  content: '';
}

.music-icon.play span {
  animation: bounce 2.2s ease infinite alternate;
  &:nth-of-type(2) {
    animation-delay: -2.2s;
  }
  &:nth-of-type(3) {
    animation-delay: -3.7s;
  }
}

@keyframes bounce {
  10% {
    transform: scaleY(0.3); /* start by scaling to 30% */
  }

  30% {
    transform: scaleY(1); /* scale up to 100% */
  }

  60% {
    transform: scaleY(0.5); /* scale down to 50% */
  }

  80% {
    transform: scaleY(0.75); /* scale up to 75% */
  }

  100% {
    transform: scaleY(0.6); /* scale down to 60% */
  }
}

.btn-music {
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
  position: fixed;
  top: 15px;
  left: 15px;
}